div.select {
    width: 15vw;
    height: 6.5vh;
    min-width: 150px;
}

div.select button {
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    height: 100%;

    background-color: var(--text-primary);
    border: solid 2px var(--text-primary);
    border-radius: 8px;
    cursor: pointer;
}

div.select button p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: var(--bg-secondary);
    text-transform: capitalize;
    margin-left: 1rem;
}

div.select button div {margin-right: 1rem;}
div.select button div svg {
    width: 1.25rem;
    height: 1.25rem;
    fill: var(--bg-secondary);
}

div.select ul {
    width: 15vw;
    min-width: 150px;
    margin-top: 0.5rem;

    overflow-y: none;
    background-color: var(--text-primary);
    border: solid 2px var(--text-primary);
    border-radius: 8px;
    padding: 0.5rem;
}

div.select li {
    padding: .5rem 0.5rem;
}