@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

#EnhancedUI[data-theme="light"] {
    --bg: #e5e5e6;
    --bg-secondary: #0fcf58;
    --bg-glass: rgba(255, 255, 255, 0.16);
    --bg-active: #31e074;

    --text-primary: #000;
    --text-secondary: #fff;
    --text-active: #31e074;
    --text-disabled: #fff;
}

#EnhancedUI[data-theme="dark"] {
    --bg: #232426;
    --bg-secondary:#7456ff;
    --bg-glass: rgba(0, 0, 0, 0.16);
    --bg-active: #8368ff;

    --text-primary: #fff;
    --text-secondary: #fff;
    --text-active: #8368ff;
    --text-disabled: #858585;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.alert {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 5rem;
    animation: alert-animation 0.5s ease-in-out;
    border-radius: 0 16px 0 0;
}